<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hôpital SoigneMoi de la région lilloise</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="body-dashboard">
<header class="header-dashboard">
    <img class="logo-dashboard" src="logo-soignemoi.png" alt="logo de l'hôpital Soignemoi">
    <nav class="nav-dashboard">
        <a href="/admin-dashboard">RETOUR</a>
    </nav>
</header>

<main class="main-signup">
    <h2 class="signup-title">AJOUTER UN MÉDECIN</h2>
    <form class="signup-form" method="post" action="{{ path('doctor_new') }}">
        {{ form_start(form) }}

        {{ form_row(form.firstname, {'label': 'Prénom'}) }}
        {{ form_row(form.lastname, {'label': 'Nom'}) }}
        {{ form_row(form.speciality, {'label': 'Spécialité'}) }}
        {{ form_row(form.identification, {'label': 'Matricule'}) }}
        <button type="submit" id="submit-signup">AJOUTER</button>
        {{ form_end(form) }}
    </form>
</main>
</body>
</html>
