<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token('stays') }}">
    <title>Prendre un Séjour - Hôpital SoigneMoi</title>
    <link rel="stylesheet" href="{{ asset('app.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="body-dashboard">
<header class="header-dashboard">
    <img class="logo-dashboard" src="logo-soignemoi.png" alt="logo de l'hôpital Soignemoi">
    <nav class="nav-dashboard">
        <a href="/dashboard">RETOUR</a>
    </nav>
</header>
<main class="main-add-stay">
    <div class="container-for-form">
        <h1 class="title-in-add-stay">PRENDRE RENDEZ-VOUS À L’HÔPITAL</h1>

        <form action="{{ path('add_stay') }}" method="POST" class="form-add-stay">
            {{ form_start(form) }}


            <div class="form-group input-in-add-stay-column">
                {{ form_row(form.entrydate, {'attr': {'class': 'entrydate-input', 'id': 'form_entrydate'}}) }}
                <button type="button" id="search_button" class="btn btn-primary">Rechercher</button>
            </div>
            <div class="form-group input-row">
                <div class="speciality-container" style="display: none;">
                    {{ form_row(form.speciality, {'attr': {'id': 'form_speciality', 'class': 'speciality-selector'}}) }}
                </div>

            </div>

            <div class="reason-container">
                {{ form_row(form.reason, {'attr': {'id': 'form_reason', 'class': 'reason-selector'}}) }}
            </div>
            <div class="form-group input-row">
                <div class="doctor-container">
                    {{ form_row(form.doctor, {'attr': {'id': 'form_doctor', 'class': 'doctor-selector'}}) }}
                </div>

            </div>


            <div id="availability-container">
                <p>Disponibilités :</p>
                {{ form_row(form.slot, {'attr': {'class': 'form_slot', 'name': 'slot', 'id': 'form_slot'}}) }}
            </div>

            <div class="form-group question-in-add-stay">
                {{ form_row(form.extendStay) }}
            </div>

            {% if form.vars.value.isEqualDates == false %}
                <div id="leaving-date-group" class="form-group input-in-add-stay-column">
                    {{ form_row(form.leavingdate) }}
                </div>
            {% endif %}

            <button type="submit" id="book-appointment">Réserver le séjour</button>

            {{ form_end(form) }}
        </form>
    </div>

</main>

<script src="{{ asset('add-stay.js') }}"></script>

</body>
</html>