<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hôpital SoigneMoi de la région lilloise</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>

</head>
<body class="body-dashboard">
<header class="header-dashboard">
    <img class="logo-dashboard" src="logo-soignemoi.png" alt="logo de l'hôpital Soignemoi">
    <nav class="nav-dashboard">
        <a href="/create-stay">Séjour</a>
        <a href="/history">Historique</a>
        <a href="/logout">Déconnexion</a>
    </nav>
</header>

<section class="endedstay_title">
    <div class="endedstay_title_container in-progress-container">
        <p class="endedstay_title">RENDEZ-VOUS EN COURS</p>
    </div>

    {% for stay in currentStays %}
        <div class="card-container in-progress-card">
            <div class="card-subcontainer">
                <p class="date-in-card">Entrée : {{ stay.entrydate|date('H\\hi') }}  ({{ stay.entrydate|date('d/m/Y') }})</p>
                {% if stay.entrydate == stay.leavingdate %}
                    <p class="date-in-card">Sortie : {{ stay.leavingdate|date('d/m/Y') }}</p>
                {% else %}
                    <p class="date-in-card">Sortie : {{ stay.leavingdate|date('H\\hi') }}  ({{ stay.leavingdate|date('d/m/Y') }})</p>
                {% endif %}
            </div>
            <div class="card-subcontainer">
                <p class="date-in-card">{{ stay.reason }}</p>
                <p class="doctor-in-card">Docteur {{ stay.doctor.lastname }}, {{ stay.doctor.speciality }}</p>
            </div>
        </div>
    {% else %}
        <p>Aucun rendez-vous en cours.</p>
    {% endfor %}

</section>

<section class="endedstay_title">
    <div class="endedstay_title_container futur-stay-container">
        <p class="endedstay_title">RENDEZ-VOUS À VENIR</p>
    </div>

    {% for stay in upcomingStays %}
        <div class="card-container futur-stay-card">
            <div class="card-subcontainer">
                <p class="date-in-card">Entrée : {{ stay.entrydate|date('H\\hi') }}  ({{ stay.entrydate|date('d/m/Y') }})</p>
                {% if stay.entrydate == stay.leavingdate %}
                    <p class="date-in-card">Sortie : {{ stay.leavingdate|date('d/m/Y') }}</p>
                {% else %}
                    <p class="date-in-card">Sortie : {{ stay.leavingdate|date('H\\hi') }}  ({{ stay.leavingdate|date('d/m/Y') }})</p>
                {% endif %}
            </div>
            <div class="card-subcontainer">
                <p class="date-in-card">{{ stay.reason }}</p>
                <p class="doctor-in-card">Docteur {{ stay.doctor.lastname }}, {{ stay.doctor.speciality }}</p>
            </div>
        </div>
    {% else %}
        <p>Aucun rendez-vous à venir.</p>
    {% endfor %}
</section>

</body>
</html>
